:after, :before { box-sizing: border-box; }

body {
 background: linear-gradient(#615dad,#ffc8da);
 font-family::'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container { 
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
}

.container-game {
  display: grid;
  width: 24vw;
  height: auto;
  align-items: center;
}

/*Description*/

.container-description {
  background-color: #283e50;
}

h1 {
  font-family: 'Lobster';
  font-size: 2rem;
  color: white;
  text-align: center;
  margin: 0;
  margin-top: 7%;
}

p {
  color: white;
  padding: 6%;
  font-size: 1rem;
  text-align:center;
  
}

/*Buttoms*/

ul {
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  list-style-type: none;
}

.buttom-green {
 background-color: #1fcca4;
 padding: 4%;
}

.buttom-blue {
 background-color: #0090e9;
 padding: 4%;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.buttom-green:hover {
  background-color:#1cbb96;
}

.buttom-blue:hover {
  background-color: #0197f6;
}

/*Media query*/

@media (max-width:1200px) {
 .container-game {
  width: 50vw;
 }
}

